@tailwind base;

@layer base {
  :root {
    --measure: 65ch;
  }

  * {
    max-inline-size: var(--measure);
  }

  html,
  body,
  div,
  header,
  nav,
  main,
  footer {
    max-inline-size: none;
  }
}

@tailwind components;
@tailwind utilities;
